body {
  background-color: black;
  background-image: url("beeg.png");
  text-align: left;
  color: LightGray;
  font-family: "Courier New", Courier, monospace;
}
div {
  background: rgba(0, o, 0, 0.3);
}